.Fstvl-container {
    width : 447px;
    height : 500px;
    margin : 20px;
    background-color: rgba(133, 133, 133, 0.09);
    box-shadow: rgba(133, 133, 133, 0.09);
    border-radius: 5px;
}

.Fstvl-container img {
    width : 447px;
    height : 447px;
}

.Fstvl-info {
    display: flex;
    justify-content: center;
}