.title-info {
    /* 축제이름 */

    box-sizing: border-box;

    position: absolute;
    width: 550px;
    height: 70px;
    left: calc(50% - 400px/2 - 350px);
    top: 125px;

    border: 3px solid #FFB800;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
    font-weight: bold;
    font-size : 50px;
}

.pic-info {
    /* 축제사진 */

    position: absolute;
    width: 400px;
    height: 450px;
    left: calc(50% - 250px/2 - 350px);
    top: 225px;
    border-radius: 5px;

    background: #D9D9D9;
}

.date-info {
    /* 축제기간 */

    box-sizing: border-box;

    position: absolute;
    width: 447px;
    height: 65px;
    left: calc(50% - 447px/2 + 350.5px);
    top: 270px;

    border: 3px solid #FFB800;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
    font-size : 30px;
}

.date-icon {
    position: absolute;
    left: calc(50% - 430px/2 + 350.5px);
    top: 277.5px;
}

.location-info {
    box-sizing: border-box;

    position: absolute;
    width: 447px;
    height: 65px;
    left: calc(50% - 447px/2 + 350.5px);
    top: 370px;

    border: 3px solid #FFB800;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
    font-size : 30px;
}

.location-icon {
    position: absolute;
    left: calc(50% - 430px/2 + 350.5px);
    top: 377.5px;
}

.price-info {
    box-sizing: border-box;

    position: absolute;
    width: 447px;
    height: 65px;
    left: calc(50% - 447px/2 + 350.5px);
    top: 470px;

    border: 3px solid #FFB800;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
    font-size : 30px;
}

.price-icon {
    position: absolute;
    left: calc(50% - 420px/2 + 350.5px);
    top: 460px;
    font-size: 60px;
    font-weight: bold;
}

.phone-info {
    box-sizing: border-box;

    position: absolute;
    width: 447px;
    height: 65px;
    left: calc(50% - 447px/2 + 350.5px);
    top: 570px;

    border: 3px solid #FFB800;
    border-radius: 10px;
    text-align: center;
    vertical-align: center;
    font-size : 30px;
}

.phone-icon {
    position: absolute;
    left: calc(50% - 430px/2 + 350.5px);
    top: 577.5px;
}

.fstvl-info {
    /* 축제설명칸 */

    position: absolute;
    width: 1167px;
    height: 209px;
    left: calc(50% - 1167px/2 - 9.5px);
    top: 725px;

    background: #D9D9D9;
    border-radius: 20px;
    text-align: center;
    vertical-align: center;
}

.fstvl-icon {
    position: absolute;
    left: calc(50% - 1167px/2 - 9.5px);
    top: 725px;
}