.main-container {
    display : flex;
    flex-wrap : wrap;
    justify-content: center;
    margin-top: 544px;
}

.key_date {
    /* 날짜&키워드 검색 배경 */

    position: absolute;
    width: 914px;
    height: 209px;
    left: calc(50% - 914px/2 - 35px);
    top: 209px;

    background: #D3D3D3;
    border-radius: 56px;
}

.date_icon {
    position: absolute;
    left: calc(50% - 55px/2 - 345.5px);
    top: 240px;
}

.date_search {
    /* 날짜 검색칸 */

    position: absolute;
    width: 370px;
    height: 63px;
    left: calc(50% - 370px/2 - 106px);
    top: 239px;
    font-size: 20px;
    text-align: center;
    line-height : 63px;
    color: #ffffff;

    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.key_icon {
    /* 키워드 아이콘 */

    position: absolute;
    font-weight: 700;
    font-size: 55px;
    line-height: 45px;
    text-align: center;

    color: #000000;

    box-sizing: border-box;
    width: 55px;
    height: 55px;
    left: calc(50% - 55px/2 - 345.5px);
    top: 333px;

    border: 4px solid #000000;
    border-radius: 10px;
}

.key_search {
    /* 키워드 검색칸 */

    position: absolute;
    width: 497px;
    height: 63px;
    left: calc(50% - 497px/2 - 40.5px);
    top: 327px;
    text-align: center;
    line-height: 63px;
    font-size: 20px;
    color: #ffffff;

    background: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.search {
    /* 검색 버튼 텍스트 */

    position: absolute;
    width: 68px;
    height: 50px;
    left: calc(50% - 68px/2 + 286px);
    top: 333px;

    font-family: 'Podkova';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    /* identical to box height, or 139% */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    /* 컴색 버튼 배경 */

    position: absolute;
    width: 79px;
    height: 56px;
    left: calc(50% - 79px/2 + 285.5px);
    top: 327px;

    background: #858585;
    border-radius: 20px;
}

.text_thisMonth {
    /* 이 달의 축제 */

    position: absolute;
    width: 276px;
    height: 44px;
    left: calc(50% - 276px/2 + 35px);
    top: 500px;

    font-family: 'Podkova';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;

    color: #000000;
}

.key_modal_size {
    position: absolute;
    width: 1000px;
    height: 600px;
    left: calc(50% - 1000px/2);
    top: calc(50% - 600px/2);
    border-radius: 30px;

    background-color: rgb(200, 255, 159);
}

.location_modal_size {
    position: absolute;
    text-align: center;
    width: 500px;
    height: 200px;
    left: calc(50% - 500px/2);
    top: calc(50% - 200px/2);
    border-radius: 10px;
    border-color: rgb(0, 0, 0);

    background-color: rgb(255, 255, 255);
}

.calendar_modal_size {
    position: absolute;
    text-align: center;

    left: 39%;
    top: 20%;
}